.photo-spot img {
  max-width: 100%;
  width: auto;
  max-height: 600px;
  opacity: 0;
  border-radius: 100px;
  transition: opacity 0.5s ease-in-out;
}

.photo-spot.fade-in img {
  opacity: 1;
}

.photo-spot.fade-out img {
  opacity: 0;
}
