.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333435; 
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  height: 64px;
}

.toolbar {
  position: relative;
  background-color: #48494c;
  border-radius: 32px;
  height: 42px;
  display: flex;
}

.toolbar button {
  color: white;
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 32px;
  max-width: 128px;
}

.toolbar button:hover {
  color: #ccc;
}
