.App {
  display: grid;
  grid-template-rows: 64px 1fr; /* 64px for toolbar, remaining space for content */
  background-color: #333435;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  flex: 1;
  gap: 48px;
  overflow: auto;
  background-color: #333435;
  scroll-snap-type: y mandatory;
}


.app-header-left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 36px;

  .languages-and-tools {
    margin-top: 48px;
  }
}

.app-header-right-column {
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.skills-icons-container {
  display: flex;
  gap: 20px;
  font-size: 2rem;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #fff;
}

h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: #fff;
}

section.personal-website {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
  scroll-snap-align: start;
}
