.App {
  text-align: left;
}

h1 {
  margin-right: 20px;
  margin-left: 125px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #fff;
}

h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: #fff;
}

section {
  background-color: #333435;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 768px) {
  h1 {
    margin-left: 20px;
    font-size: 1.5rem;
  }

  .grad-photo {
    height: 400px;
  }

  section {
    flex-direction: column;
    text-align: center;
  }
}
